.body-mod{
    margin-left: 30px;
}

.cust-colr-1{
    color: black;
}

.cust-bg-colr-1{
    color: orange;
}

.imp-btn-1{
    display: inline;
    background-color: white;
    border: none;
}

.border-padding{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #212529;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 40px;
}
.cust-cnt{
    text-align: center;
}
.flx-col{
    display: flex;
    flex-direction: column;
}
.ct-1{
    display: flex;
    align-items: center;
    justify-content: center;
}


.gl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gl-flx-col{
    display: flex;
    flex-direction: column;
}
