* {
    margin: 0px;
    padding: 0px;
}

#header-center p {
    /*DESCENDENT SELECTOR*/
    margin: 0px;
    padding: 0px;
}

#main {
    display: grid;
    grid-template-columns: 0.9fr 3fr 1.1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

#header-center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 33vh;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

#greet {
    grid-area: 1/1/2/5;
    padding: 10px 0px 10px 0px;
    font-size: 2rem;

}

#quote {
    color: #dadada;
    font-size: 1.5rem;
    grid-area: 2/1/3/5;
    padding: 0px 0px 10px 0px;
}

#dateTime {
    grid-area: 3/1/5/2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#dateTime>p {
    width: 50%;
}

#day {
    font-weight: bold;
}

#date {
    font-size: 4rem;
    line-height: 0.9;
    font-weight: bold;
}

#month {
    font-size: 1rem;
    font-weight: bold;
}

#wheather {
    grid-area: 3/2/4/5;
    display: flex;
    align-items: center;
}

.i1 {
    flex: 1;
    text-align: center;
}

.space {
    flex: 0.5;
}

.i2 {
    flex: 1;
    text-align: center;
}

#imp {
    grid-area: 4/2/5/5;
    display: flex;
    align-items: center;
}

#tasks {
    padding: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    height: 55vh;
}

.task {
    margin-top: 10px;
    box-shadow: 0px 0px 12px 1px rgba(145, 145, 145, 0.75);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(145, 145, 145, 0.75);
    -moz-box-shadow: 0px 0px 12px 1px rgba(145, 145, 145, 0.75);
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: 1fr 1fr;
    height: 3rem;
}

.todo-path {
    grid-area: 1/2/3/3;
}

.inner-task {
    grid-area: 2/2/3/3;
}

.check-marker {
    height: 50%;
    grid-area: 1/1/3/2;
    margin-top: 25%;
}
.ctr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#add-elt-btn {
    border: none;
    background-color: white;
    color: red;
    width: 5%;
    /*Doesnt Work*/
}

#input-elt {
    border: none;
    height: 100%;
    width: 90%;
}

#add-elt {
    margin: 10px 0px 0px 10px;
}